
*  {
    margin:0;
    padding:0;
} /*Coloca em todas as paginas*/

html, body {height:100%;}
/*Coloca em todas as paginas*/
body{
  backgroundage: url("static/login/img/background.png") center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.geral {
    min-height:100%;
    position:relative;
}
.container-fluid{
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    padding:15px;
    width:100%;
    background-color:#B22222;
}
#img{
    margin-top: 2vw;
}

section{
    width: 450px;
    height: 450px;

    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
.centralizar {
    text-align: center;
}
.content {overflow:hidden;}
