*  {
    margin:0;
    padding:0;
} /*Coloca em todas as paginas*/

html, body {height:100%;}
/*Coloca em todas as paginas*/
header{
    background-color:#B22222;
    font-size: 18px;
    padding-top:5px;
    padding-bottom:2px;
    padding-left:10px;
}
section{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 5px;
}
.centralizar{
    text-align: center;
}
.color{
    color: white;
}
.cordasletras{
    color: black;
}
.modais{
    color: black;
    padding-bottom: 15px;

}
.margem{
    margin: 5px;
}
.botão{
    margin: 5px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1C1C1C;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

  /* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#main {
    transition: margin-left .5s;
    padding: 20px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}