{% extends 'base.html' %}

{% block title %}Avaliação{% endblock %}

{% block content %}
    <h1>Avaliar</h1>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Salvar</button>
        <button type="button"><a href="{% url 'list' %}">voltar</a></button>
    </form>
{% endblock %}