{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Página de Cadastro{% endblock %}

{% block content %}
    <h1>Abrir Chamado</h1>
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit">Salvar</button>
        <button type="button"><a href="{% url 'list' %}">voltar</a></button>
    </form>
{% endblock %}
