{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Avaliar{% endblock %}

{% block content %}
    <h1>Avaliar</h1>
    <form method="POST">
        {% csrf_token %}
        {{avaliacao|crispy}}
        <button type="submit">Salvar</button>
        <button type="button"><a href="{% url 'list' %}">voltar</a></button>
    </form>
{% endblock %}