{% extends 'base.html' %}

{% block title %}Gestão - Exclusão{% endblock %}

{% block content %}
<h1>Excluir Chamado</h1>
<h2>Deseja excluir o chamado nº {{chamado.cod_chamado}}</h2>
<form method="POST">
    {% csrf_token %}
    <button type='submit' class='btn btn-danger'>Sim</button>
    <a href="{% url 'list' %}"><button type='button' class='btn btn-warning'>Não</button></a>
</form>

{% endblock %}
