<!DOCTYPE html>

{% load static %}
{% load crispy_forms_tags %}

<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{%  static './css/stylecadastro.css' %}" >


    <!-- fontes -->
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <title>Cadastro de Chamados</title>
</head>
    <body>
        <header>
                {% block content %}
                <!-- barra de navegação lateral -->
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="{% url 'list' %}">Pagina Inicial</a>
                    <a href="{% url 'list' %}">Cadastrar chamado</a>
                    <a href="{% url 'avaliacoes' %}">Avaliações</a>

                </div>
                <!-- icon clicavel -->
                    <img src="{%  static './img/menu.png' %}" onclick="openNav()" width="50px" height="50px">

        </header>
        <!-- main agrupadoura-->
        <div id="main">
            <section>


                <!-- Cabeçalho -->
                <h1>Avaliação</h1> <br>

                <form method="POST">
                {% csrf_token %}

                    <!-- formulario -->
                    <div class="form-row">
                        <!-- matricula -->
                        <div class="form-group col-md-4">
                            {{ avaliacao.matricula_user|as_crispy_field }}
                        </div>

                        <!-- descrição do problema -->
                        <div class="form-group col-md-4">
                            {{ avaliacao.codigo_chamado|as_crispy_field }}
                        </div>

                        <!-- classificação -->
                        <div class="form-group col-md-4">
                            {{ avaliacao.classificacao|as_crispy_field }}
                        </div>
                    </div>

                    <div class="form-row">
                        <!-- descrição do problema -->
                        <div class="form-group col-md-12">
                            {{ avaliacao.comentario|as_crispy_field }}
                        </div>
                    </div>

                    <div class="centralizar">
                        <button type="submit" class="btn btn-success" aria-pressed="false">
                            Cadastrar
                        </button>
                        <a href="{% url 'list' %}"><button type='button' class="btn btn-danger">Voltar</button></a>
                    </div>
                </form>
                {% endblock %}
            </section>
        </div>
        <!-- jQuery CDN - Slim version (=without AJAX) -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!-- Popper.JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <!-- Bootstrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

        <!-- Script de js pro menu hamburguer-->
        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
                document.getElementById("main").style.marginLeft= "0";
            }
        </script>
    </body>
</html>