<!DOCTYPE html>

{% load static %}
{% load crispy_forms_tags %}

<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{%  static './css/stylecadastro.css' %}" >


    <!-- fontes -->
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <title>Lista de Chamados</title>
    </head>
    <body>
        <header>
                <!-- barra de navegação lateral -->
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="{% url 'list' %}">Chamados</a>
                    <a href="{% url 'create' %}">Cadastrar Chamado</a>
                    <a href="{% url 'avaliacoes' %}">Avaliações</a>
                </div>
                <!-- icon clicavel -->
                    <img src="{%  static './img/menu.png' %}" onclick="openNav()" width="50px" height="50px">
        </header>
        <!-- main agrupadoura-->
        <div id="main">
            <section>
                <!-- Cabeçalho -->
                <h1>Lista de Avaliações</h1> <br>
                {% block content %}
                <!-- For pegando cada informação dos chamados -->

                    {% for Avaliacao in avaliacoes %}

                    <!-- Se o chamado for de prioridade baixa, card Cinza -->

                    <div class="card border-dark mb-3" style="max-width: 21rem;">
                      <div class="card-header"><strong>AVALIAÇÃO {{Avaliacao.codigo_avaliacao}}</strong></div>
                        <div class="card-body text-dark">
                          <h5 class="card-title">{{Avaliacao.classificacao}} Estrela(s)</h5>
                            <p class="card-text">
                                <strong>Codigo Chamado:</strong> {{Avaliacao.codigo_chamado}}<br>
                                <strong>Email:</strong> {{Avaliacao.matricula_user}}<br>
                                <strong>Comentário:</strong> {{Avaliacao.comentario}}<br>
                                <br>


                                <a href="{% url 'updateavaliacao' Avaliacao.codigo_avaliacao %}"><button type='button' class="btn btn-light" >Editar</button></a>
                        </div>
                            </p>
                        </div>



                        {% endfor %}

                        <br><br>

                        {% if user == 'ADM' %}
                        <a href="{% url 'avaliacoes' %}"><button type='button' class="btn btn-info">Avaliações</button></a>
                        {% endif %}
                        <a href="{% url 'list' %}"><button type='button' class="btn btn-light" >Chamados</button></a>

                        <a href="{% url 'create' %}"><button type='button' class="btn btn-success" >Abrir Chamado</button></a>

                    {% endblock %}
            </section>
        </div>

        <!-- jQuery CDN - Slim version (=without AJAX) -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!-- Popper.JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <!-- Bootstrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

        <!-- Script de js pro menu hamburguer-->
        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
                document.getElementById("main").style.marginLeft= "0";
            }
        </script>
    </body>
</html>