{% extends 'base.html' %}

{% block title %}Avaliação{% endblock %}

{% block content %}

    <h1>Avaliações</h1>


    {% for Avaliacao in avaliacoes %}

    <ul>
        <li>{{Avaliacao.codigo_avaliacao}}</li>
        <li>{{Avaliacao.matricula_user}}</li>
        <li>{{Avaliacao.comentario}}</li>
        <li>{{Avaliacao.classificacao}}</li>
        <li>{{Avaliacao.codigo_chamado}}</li>
    </ul>

    {% endfor %}

{% endblock %}
