{% extends 'base.html' %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

{% block title %}Chamados{% endblock %}

{% block content %}

    <h1>Lista de Chamados</h1>

<div class="row row-cols-1 row-cols-md-2">
    {% for Chamado in chamados %}

    {% if Chamado.prioridade == 'BX' %}
    <div class="col mb-4">
    <div class="card text-white bg-secondary mb-3" style="max-width: 21rem;">
        <div class="card-header"><strong>PRIORIDADE BAIXA</strong></div>
      <div class="card-body text-white">
        <h5 class="card-title">{{Chamado.status_chamado}}</h5>
        <p class="card-text">
            <strong> Código:</strong> {{Chamado.cod_chamado}}<br>
            <strong>Email:</strong> {{Chamado.user_matricula}}<br>
            <strong>Hora:</strong> {{Chamado.data_hora}}<br>
            <strong>Tipo:</strong> {{Chamado.tipo_chamado}}<br>
            <strong>Descrição:</strong> {{Chamado.descricao}}<br>
          <br>

          <div class= "centralizar">
        {% if user == 'ADM' %}

        <a href="{% url 'delete' Chamado.cod_chamado %}"><button type='button' class="btn btn-light">Excluir</button></a>

        {% endif %}
        <a href="{% url 'update' Chamado.cod_chamado %}"><button type='button' class="btn btn-light">Atualizar</button></a>
        <a href="{% url 'avaliacao' %}"><button type='button' class="btn btn-light" >Avaliar</button></a>
        </div>

        </p>
      </div>
      </div>
    </div>
    {% endif %}


    {% if Chamado.prioridade == 'NR' %}
    <div class="col mb-4">
    <div class="card text-white bg-primary mb-3" style="max-width: 21rem;">
      <div class="card-header"><strong>PRIORIDADE NORMAL</strong></div>
      <div class="card-body text-white">
        <h5 class="card-title">{{Chamado.status_chamado}}</h5>
        <p class="card-text">
            <strong> Código:</strong> {{Chamado.cod_chamado}}<br>
            <strong>Email:</strong> {{Chamado.user_matricula}}<br>
            <strong>Hora:</strong> {{Chamado.data_hora}}<br>
            <strong>Tipo:</strong> {{Chamado.tipo_chamado}}<br>
            <strong>Descrição:</strong> {{Chamado.descricao}}<br>
          <br>

          <div class= "centralizar">
        {% if user == 'ADM' %}

        <a href="{% url 'delete' Chamado.cod_chamado %}"><button type='button' class="btn btn-light">Excluir</button></a>

        {% endif %}
        <a href="{% url 'update' Chamado.cod_chamado %}"><button type='button' class="btn btn-light">Atualizar</button></a>
        <a href="{% url 'avaliacao' %}"><button type='button' class="btn btn-light" >Avaliar</button></a>
        </div>
        </p>
      </div>
    </div>
    </div>
    {% endif %}

    {% if Chamado.prioridade == 'AL' %}
    <div class="col mb-4">
    <div class="card text-white bg-warning mb-3" style="max-width: 21rem;">
      <div class="card-header"><strong>PRIORIDADE ALTA</strong></div>
      <div class="card-body text-white">
        <h5 class="card-title">{{Chamado.status_chamado}}</h5>
        <p class="card-text">
            <strong> Código:</strong> {{Chamado.cod_chamado}}<br>
            <strong>Email:</strong> {{Chamado.user_matricula}}<br>
            <strong>Hora:</strong> {{Chamado.data_hora}}<br>
            <strong>Tipo:</strong> {{Chamado.tipo_chamado}}<br>
            <strong>Descrição:</strong> {{Chamado.descricao}}<br>
          <br>

          <div class= "centralizar">
        {% if user == 'ADM' %}

        <a href="{% url 'delete' Chamado.cod_chamado %}"><button type='button' class="btn btn-light">Excluir</button></a>

        {% endif %}
        <a href="{% url 'update' Chamado.cod_chamado %}"><button type='button' class="btn btn-light">Atualizar</button></a>
        <a href="{% url 'avaliacao' %}"><button type='button' class="btn btn-light" >Avaliar</button></a>
        </div>

        </p>
      </div>
    </div>
    </div>
    {% endif %}

    {% if Chamado.prioridade == 'UR' %}
    <div class="col mb-4">
    <div class="card text-white bg-danger mb-3" style="max-width: 21rem;">
        <div class="card-header"><strong>PRIORIDADE URGENTE</strong></div>
      <div class="card-body text-white">
        <h5 class="card-title">{{Chamado.status_chamado}}</h5>
        <p class="card-text">
            <strong> Código:</strong> {{Chamado.cod_chamado}}<br>
            <strong>Email:</strong> {{Chamado.user_matricula}}<br>
            <strong>Hora:</strong> {{Chamado.data_hora}}<br>
            <strong>Tipo:</strong> {{Chamado.tipo_chamado}}<br>
            <strong>Descrição:</strong> {{Chamado.descricao}}<br>
          <br>

          <div class= "centralizar">
        {% if user == 'ADM' %}

        <a href="{% url 'delete' Chamado.cod_chamado %}"><button type='button' class="btn btn-light">Excluir</button></a>

        {% endif %}
        <a href="{% url 'update' Chamado.cod_chamado %}"><button type='button' class="btn btn-light">Atualizar</button></a>
        <a href="{% url 'avaliacao' %}"><button type='button' class="btn btn-light" >Avaliar</button></a>
        </div>
        </p>
      </div>
    </div>
    </div>
    {% endif %}

    <br><br>

        {% endfor %}

        {% if user == 'ADM' %}
        <a href="{% url 'avaliacoes' %}"><button type='button' class="btn btn-info">Avaliações</button></a>
        {% endif %}

        <a href="{% url 'create' %}"><button type='button' class="btn btn-success" >Abrir Chamado</button></a>

</div>
{% endblock %}
