{% extends 'base.html' %}

{% block title %}Atualizar Chamado{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-success">Atualizar</button>
    </form>
    <a href="{% url 'list' %}"><button type="button" class="btn btn-primary">Retornar</button></a>
{% endblock %}
