{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <!-- Meta tags Obrigatórias -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="{% static '/css/style.css' %}">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!-- -->
        <title>login</title>
    </head>
    <body id="corpo" background="{% static '/img/background.png' %}">
       
        <div class="geral">
            
            <section>
                <div class="container-fluid">
                    
                        <div class="centralizar">
                            <img src="{% static '/img/logoprincipal.png' %}" width="200px" height="220px" id="img">
                            <h4>STI-PMPB</h4>
                            <h6>SISTEMA INTEGRADO DE INFORMAÇÃO</h6>
                        </div>
                        <!--Caixa de email-->
                        
                        <div class="form-group">
                        <form method="POST" >
                            {% csrf_token %}
                            {{form|crispy}}
                            <button type="submit" class="btn btn-success" href="{% url 'login' %}">Entrar</button><br>
                        </form>
                        </div>
                        <!--Caixa de senha-->
                       <!-- <div class="form-group">
                            <label for="exampleInputPassword1">Senha:</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                        </div>
                        <!--checar
                        <div class="form-group form-check">
                            <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="opcao1" aria-label="...">
                            <label class="form-check-label" for="exampleCheck1">Lembre-se de mim</label>
                        </div> 
                        -->
                        <div class="centralizar">
                            <!--Botão-->
                            
                        </div>
                    
        </div>
    
        </section>

        <!-- JavaScript (Opcional) -->
        <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
